@import 'tailwindcss';

body {
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

@theme {
  --font-poppins: 'Poppins', sans-serif;

  --color-primary-950: #3c83f6;

  --color-secondary-400: #b9a07d;

  --color-gray-950: #232323;
  --color-gray-900: #3d3d3d;
  --color-gray-800: #454545;
  --color-gray-700: #4f4f4f;
  --color-gray-600: #5d5d5d;
  --color-gray-500: #6d6d6d;
  --color-gray-400: #888888;
  --color-gray-300: #b0b0b0;
  --color-gray-200: #d1d1d1;
  --color-gray-100: #e7e7e7;
  --color-gray-50: #f6f6f6;

  --color-error-800: #b3261e;
  --color-error-600: #d93229;
  --color-error-100: #fee4e2;

  --color-warning-800: #ffd748;
  --color-warning-600: #ffe988;
  --color-warning-100: #fffbeb;

  --color-success-800: #71b230;
  --color-success-600: #90cd4e;
  --color-success-100: #f4fbea;

  --color-interaction: #480709;
  --color-white: #ffffff;

  --text-xs: 0.75rem;
  --leading-xs: 1rem;

  --text-sm: 0.875rem;
  --leading-sm: 1.25rem;

  --text-base: 1rem;
  --leading-base: 1.5rem;

  --text-lg: 1.125rem;
  --leading-lg: 1.75rem;

  --text-xl: 1.25rem;
  --leading-xl: 1.75rem;

  --text-2xl: 1.5rem;
  --leading-2xl: 2rem;

  --text-3xl: 2rem;
  --leading-3xl: 2.5rem;

  --text-4xl: 2.5rem;
  --leading-4xl: 3rem;

  --text-6xl: 5rem;
  --leading-6xl: 5.5rem;

  --text-7xl: 7.5rem;
  --leading-7xl: 8rem;
}

.custom-snackbar-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0.75rem;
  width: 100%;
  box-sizing: border-box;

  .content {
    flex-grow: 1;
  }
  .title {
    font-weight: 600;
    font-size: var(--text-base);
    line-height: var(--leading-base);
  }
  .message {
    font-size: var(--text-sm);
    line-height: var(--leading-sm);
  }
}

.mat-snack-bar-container {
  padding: 0;
  max-width: 500px;
  box-shadow: none;
  border-radius: 4px;
}

.snackbar-warning {
  background-color: var(--color-warning-100);
  border: 1px solid var(--color-warning-800);

  .custom-snackbar-container {
    color: var(--color-gray-950);
  }

  .snackbar-icon,
  .close-button {
    color: var(--color-warning-800);
  }
}

.snackbar-error {
  background-color: var(--color-error-100);
  border: 1px solid var(--color-error-800);

  .custom-snackbar-container {
    color: var(--color-gray-950);
  }

  .snackbar-icon,
  .close-button {
    color: var(--color-error-800);
  }
}

.snackbar-success {
  background-color: var(--color-success-100);
  border: 1px solid var(--color-success-800);

  .custom-snackbar-container {
    color: var(--color-gray-950);
  }

  .snackbar-icon,
  .close-button {
    color: var(--color-success-800);
  }
}

.snackbar-custom {
  background-color: var(--color-gray-950);
  border: 1px solid var(--color-gray-700);

  .custom-snackbar-container {
    color: var(--color-white);
  }

  .snackbar-icon,
  .close-button {
    color: var(--color-white);
  }
}
